li {
    padding: 9px;
    margin: 5px;
    background: blue;
  }
  
  .label {
    font-weight: bold;
    
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  #bg {
      background:rgb(250, 235, 215)
    }

  img {margin-left:400px}  

#tag {text-align:right}